.service-data {
    padding: 20px 0;
}

.data-text {
    color: #000;
    margin-bottom: 40px;
}

.service-butn {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    border-radius: 30px;
    color: #e4eeff;
    text-transform: uppercase;
    font-weight: 600;
}

.service-butn:hover {
    color: #fff;
    background: linear-gradient(to right, var(--secondarydark), var(--primarydark));
    box-shadow: 0 5px 20px var(--primary);
}

@media (max-width: 800px)
{
    .data-text {
        font-size: 12px;
    }

    .service-butn {
        font-size: 15px;
        margin: 0 30px;
    }
}