.navlinks {
    position: relative;
    gap: 10px;
    top: 6px;
    margin-right: 20px;
}

.login-butn {
    padding: 5px 20px;
    background: #e1f1f8;
    color: #212EA0;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.login-butn:hover {
    color: #fff;
    background: #000080;
    border: 1px solid #fff;
}