.testimonials-container {
    padding: 0 30px;
    text-align: center;
    background-color: #ececec;
    border-radius: 10px;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.testimonial-text {
    flex: 1;
    padding-right: 20px;
    text-align: left;
}

.testimonial-message {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.testimonial-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.position {
    font-size: 1rem;
    color: #777;
}

.testimonial-image {
    width: 20%;
    height: 25vh;
    object-fit: cover;
    border-radius: 8px;
}

/* Styling for the indicators */
.indicators {
    display: flex;
    justify-content: center;
}

.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50px;
    background-color: #011563a0;
    cursor: pointer;
    margin-bottom: 20px;
}

.indicator.active {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    width: 25px;
}

.indicator:hover {
    background-color: #555;
}

.quote-style {
    color: var(--primarydark);
    float: left;
    font-size: 50px;
    transform: rotate(180deg);
}

@media (max-width: 800px) {
    .testimonial-card {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        margin-bottom: 20px;
        max-height: 80vh;
    }

    .testimonial-text {
        text-align: center;
    }

    .testimonial-image {
        width: 95%;
    }

    .testimonials {
        height: fit-content;
    }

    .testimonials-container {
        padding: 25px ;
    }

    .testimonial-message {
        font-size: 13px;
    }
}