.stepper-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.stepper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.step.active {
  color: #212EA0;
}

.form-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #212EA0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #020247;
}

h2 {
  text-align: center;
}

.step-1,
.step-2,
.step-3 {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
}

button:disabled {
  background-color: #ccc;
}

input[type="password"] {
  margin-bottom: 10px;
}

.alert {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.gender-input {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gender-input input {
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .stepper-container {
    padding: 10px;
  }

  .stepper {
    align-items: center;
    padding: 10px 15px;
  }

  .step {
    margin-bottom: 10px;
  }

  .form-container {
    padding: 10px;
  }

  input {
    padding: 8px;
    margin: 8px 0;
  }

  button {
    padding: 8px 16px;
  }
}

.permanent-address-toggle {
  display: flex;
  float: left;
  font-size: 12px;
  align-items: center;
  gap: 10px;
  padding-left: 2px;
}

.regi-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}