@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DE+VA+Guides&family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-align: justify;
    font-family: 'Afacad Flux', serif;
}

:root {
    scroll-behavior: smooth;
    --primary: #212ea0;
    --primarydark: #000080;
    --secondary: #6100ED;
    --highlet: #35F896;
    --secondarydark: #491389;
    --bgcolor: #ECDDFF;
}

body {
    color: #040404;
    background: var(--bgcolor);
}

a {
    color: var(--highlet);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--secondarydark);
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Nunito', sans-serif;
}

.header-body-wrapper {
    margin-top: 75px;
    padding: 0 20px;
    transition: all 0.3s;
}

.card {
    margin: 10px;
    padding: 10px;
    gap: 10px;
    box-shadow: 2px 8px 10px rgba(1,32,40,0.3);
    width: 100%;
}

.card-title{
    color: var(--primary) !important;
    font-weight: 550;
    text-transform: uppercase;
}


/* Pagination CSS Start */

.pagi-butn {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 550;
    color: var(--secondarydark);
    border: 1px solid var(--secondarydark);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.pagi-butn:hover {
    color: #fff;
    background: var(--secondarydark);
    border: 1px solid var(--secondarydark);
}

.num-butn {
    padding: 1px 8px;
    border-radius: 8px;
    color: var(--secondary);
    font-size: 12px;
    font-weight: 550;
    border: 2px solid var(--secondary);
}

.num-butn.active {
    background: var(--secondary);
    color: #fff;
}

/* Pagination CSS End */

@media (max-width: 800px) {
    .card-title {
        font-size: 18px;
    }
}

