.dashboard .info-card {
    padding-bottom: 10px;
}

.dashboard .info-card h6 {
    font-size: 28px;
    color: var(--primary);
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.dashboard .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .sales-card .card-icon {
    color: var(--primarydark);
    background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
    color: var(--highlet);
    background: #ffecdf;
}

.dashboard .customers-card .card-icon {
    color: var(--secondarydark);
    background: #ffecdf;
}

.card-icon .bi {
    background: #001aff25;
    padding: 10px;
    border-radius: 100%;
    color: var(--primary);
    font-weight: 500;
}